@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-SemiBold.ttf);
    font-weight: 600;
}

:root {
    --font-family-paragraph: "Roboto", sans-serif;
    --font-family-heading: "Poppins", sans-serif;
}

:root {
    --color-background-white: #FFFFFF;
    --color-background-grey: #F0F0F0;
    --color-background-heading: #022B30;
    --color-text-heading: #022B30;
    --color-text-white: #FFFFFF;
    --color-text-main: #1E1F24;
    --color-text-important: #E17C41;
    --color-text-status-active: #1A7B1E;
    --color-text-status-draft: #FF0000;
    --color-background-navigation-language: #5F9BAB;
    --color-background-buttons: #E17C41;
}


body {
    margin: 0;
}

header {
    background-color: var(--color-background-grey);
    display: flex;
    justify-content: space-between;
    height: 135px;
}

#logo_t {
    width: 81.25px;
    height: 81.25px;
    padding: 24px 0 25px 57px;
}

.log-out-btn {
    padding: 35px 40px 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

header p {
    margin: 0;
    font-family: var(--font-family-paragraph);
    color: var(--color-background-navigation-language);
    font-size: 14px;
    font-weight: 500;
}

.panel-admin-wrapper {
    display: flex;
}

.left_navigation {
    background-color: var(--color-background-grey);
    min-width: 195px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.account-name {
    color: #4257A6;
    font-family: var(--font-family-paragraph);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 58px 0;
}

.navigation-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    padding-left: 8px;
}

.accordion-landing_page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.navigation-btn-main,
.navigation-btn-drafts {
    border-style: none;
    padding: 7px 16px 7px 8px;
    color: var(--color-text-heading);
    font-family: var(--font-family-paragraph);
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    width: 100%;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.navigation-btn-drafts {
    color: var(--color-text-important);
    margin-top: 42px;
}

.navigation-btn-main:hover {
    color: var(--color-text-white);
    background-color: var(--color-background-navigation-language);
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
}

.navigation-btn-drafts:hover {
    color: var(--color-text-white);
    background-color: var(--color-background-buttons);
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
}

.navigation-buttons a {
    text-decoration: none;
    width: 100%;
}

.accordion-landing_page-header:hover path {
    stroke: var(--color-text-white);
}

.accordion-landing_page-header {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.accordion-landing_page-header p {
    margin: 0;
}

.accordion-landing_page-sections {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
}

.accordion-landing_page-sections button {
    display: flex;
    width: 100%;
    height: 33px;
    padding: 7px 16px 7px 8px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border: none;
    color: var(--color-text-heading);
    font-family: var(--font-family-paragraph);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

.accordion-landing_page-sections button:hover {
    color: var(--color-text-white);
    background-color: var(--color-background-navigation-language);
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
}

.accordion-landing_page-sections-content {
    display: none;
}

.accordion-landing_page-header.active span {
    transform: rotate(180deg);
}

.accordion-landing_page-header.active+.accordion-landing_page-sections-content {
    display: block;
}


.right_wrapper {
    width: 100%;
}

.work-frame {
    display: flex;
    flex-direction: column;
    padding: 9px 25px 0 20px;
    font-family: var(--font-family-paragraph);
}

.frame-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
    background: var(--color-background-heading);
    color: var(--color-text-white);
    padding: 0 24px;
}

.frame-name h4 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.create-new-project,
.close_project {
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    color: var(--color-text-white);
    cursor: pointer;
}

.wrapper_table {
    background-color: var(--color-background-grey);
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.table_projects {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-white);
    border-radius: 0px 0px 12px 12px;
    margin: 9px 0 32px 0;
    height: auto;
    width: 96%;
}

.all_projects-titles_fields {
    padding: 0 20px;
    margin-bottom: 400px;
}

.all_projects-titles {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    color: var(--color-text-main);
    font-size: 20px;
    font-weight: 500;
    padding: 46px 0 8px 0;
}

.all_projects-titles h4 {
    grid-column: span 2;
    text-align: center;
    margin: 0;
    font-weight: 700;
}

.all_projects-titles h4:first-child {
    grid-column: span 3;
    text-align: left;
}

.table_projects hr {
    width: 100%;
    border-width: 1px;
    border-color: var(--color-background-grey);
    margin: 0;
}

.all_projects-fields {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(11, 1fr);
    color: var(--color-text-main);
    font-size: 20px;
    font-weight: 400;
    padding: 8px 0 16px 0;
}

.all_projects-name {
    grid-column: span 3;
    text-align: left;
    margin: 0;
}

.all_projects-date {
    grid-column: span 2;
    text-align: center;
    margin: 0;
    font-size: 18px;
}

.all_projects-fields a,
.all_projects-fields span {
    grid-column: span 2;
    text-align: center;
    cursor: pointer;
}

.all_projects-active-deactive svg {
    opacity: 0.3;
}

.all_projects-active-deactive.active svg {
    transform: scaleX(-1);
    opacity: 1;
}


.all_projects-edit_project,
.active-not,
.active-on {
    cursor: pointer;
}

.all_projects-fields hr {
    width: 100%;
    border-width: 1px;
    border-color: #4257A6;
    margin: 0;
}