#one-time-donate {
    background-color: #FFDB4D;
    font-weight: 600;
    cursor: auto;
}

#regular-donate {
    background-color: #ffffff;
    border: 1px solid #1E1F24;
}

#regular-donate:hover {
    background-color: #ffcc00;
    border: none;
}

#individual-donate {
    background-color: #FFDB4D;
    font-weight: 600;
    cursor: auto;
}

#legal-donate {
    background-color: #ffffff;
    border: 1px solid #1E1F24;
}

#legal-donate:hover {
    background-color: #ffcc00;
    border: none;
}