@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-SemiBold.ttf);
    font-weight: 600;
}


body {
    background-color: #1e1e1e;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.panel {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: 'Roboto';
    background-color: #ffffff;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    font-size: 18px;
    letter-spacing: -0.36px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 0.3rem;
}

.nav-menu a {
    color: #4257A6;
    text-decoration: none;
}

.nav-menu {
    display: none;
}

.language {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    gap: 0.4rem;
}

.language a {
    color: #D0D1D1;
    text-decoration: none;
    padding-top: 0.2rem;
}

.divider {
    width: 1px;
    height: 24px;
    background-color: #D0D1D1;
}

.language {
    display: none;
}

#logo {
    width: 212px;
    height: 63px;
}

h1 {
    font-family: Poppins;
}

#wrapper {
    background-color: #ffffff;
}

section {
    padding: 0;
    margin: 0;
}

.section-content,
.section-content-why,
.section-content-doned,
.section-content-partners,
.header-content {
    display: flex;
    max-width: 1280px;
    flex-direction: column;
}

.section_carousel {
    font-family: 'Roboto';
    color: #1E1F24;
}

.section_why-how {
    font-family: 'Roboto';
    background-color: #ffffff;
    height: 30.4rem;
}

h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 39px;
    line-height: 54px;
    color: #1E1F24;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

.carousel {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.carousel_img-support {
    width: 100%;
    max-width: 80rem;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.carousel_track {
    padding: 0;
    max-width: 1280px;
    margin: 0 auto;
}

.carousel_slide {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.donate {
    height: 33.5rem;
    width: 43rem;
    margin: 0;
    background: linear-gradient(113deg, #ffffff 44%, transparent 76%);
    position: absolute;
}

.donate h1 {
    font-size: 46px;
}

.support-p {
    font-size: 22px;
    font-weight: 400;
    width: 26rem;
    margin: 0.8rem 0 0 0;
}

.thMeter_raised {
    margin-top: 1.5rem;
    width: 22.5rem;
}

.thMeter-wrapper {
    background-color: white;
    height: 2rem;
}

.thMeter_raised p:not(:first-child) {
    text-align: right;
}

#thMeter-support {
    background-color: #FFCC00;
    width: 88%;
    height: 100%;
    border: none;
    padding: 0;
}

.support-span {
    color: #1E1F24;
    font-size: 18px;
    font-weight: 600;
    left: 7rem;
    padding-top: 0.35rem;
    position: absolute;
}

.btn_ziedot {
    margin-top: 1.2rem;
}

#ziedot {
    background-color: #4257A6;
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    width: 268px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why_donate,
.why_donate-p {
    color: #1E1F24;
}

.why_donate {
    margin-top: 4.5rem;
    width: 70%;
}

.why_donate h2 {
    font-weight: 300;
    margin: 0;
}

.why_donate-p {
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    color: #1E1F24;
    border-left: 2px solid #FFCC00;
}

.why_donate-p p {
    width: 52rem;
}

.why_donate h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    margin: 2.5rem 0 2rem 0;
}

#border-solid_top {
    border-top: 2px solid #FFCC00;
    width: 900px;
}

#border-solid_bottom {
    border-bottom: 2px solid #FFCC00;
    width: 650px;
}

.section_doned {
    background-color: #f4f4f4;
    padding: 0.01rem 0;
}

.wrapper_doned {
    height: 40.25rem;
    position: relative;
    font-family: 'Roboto';
    color: #1E1F24;
}

.wrapper_doned img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doned-info {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(55deg, #FFDB4D 60%, transparent 90%);
}

.doned-h {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 0 0 3.25rem;
    gap: 2rem;
}

.doned-h h1 {
    font-size: 46px;
}

.doned-h h5 {
    font-family: Poppins;
    font-size: 100px;
    font-weight: 600;
    margin: 0;
}

.doned-h h3 {
    font-family: Poppins;
    font-size: 37px;
    font-weight: 600;
    line-height: 45px;
    margin: 0;
}

.thMeter-doned {
    background-color: #ffffff;
    width: 80%;
    height: 1.625rem;
    margin: 1.8rem 0 0 3.25rem;
}

#till-win {
    background-color: #3EA842;
    font-size: 14px;
    color: #ffffff;
    height: 100%;
    border: none;
    font-weight: 500;
    text-align: right;
    width: 90%;
}

.btn_ziedot-doned {
    margin: 3rem 0 0 3.25rem;
}

#ziedot-doned {
    background-color: #4257A6;
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    width: 268px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.section_support {
    background-color: #ffffff;
    font-family: 'Roboto';
    padding: 0.01rem 0;
    color: #1E1F24;
}

.section_support h1 {
    width: 80%;
}

.support_wrapper h4 {
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    margin: 3rem 0 1rem 0;
}

.support-what {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 3rem;
}

.support-what img {
    width: 67rem;
    margin-top: 2rem;
}

.human-support,
.medicin-support,
.transp-support {
    position: absolute;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    z-index: 1;
}

.human-support {
    top: 3rem;
    left: 0rem;
    width: 15rem;
}

.medicin-support {
    width: 12rem;
    top: 10rem;
    left: 56rem;
}

.transp-support {
    top: 26.5rem;
    left: 0;
    width: 15rem;
}

.support_logo {
    position: absolute;
    top: 10.5rem;
    left: 26.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.support_logo div {
    width: 14rem;
    height: 9rem;
    cursor: pointer;
}

.support_follow {
    margin: 7rem 0 0 0;
    border-left: 2px solid #FFCC00;
}

.support_follow p {
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    padding-left: 2rem;
    width: 80%;
}

.support_follow h4 {
    padding-left: 2rem;
    width: 90%;
}

.section_partners {
    background-color: #f4f4f4;
    padding: 0.01rem 0;
}

.partneri {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 2rem;
    background-color: #ffffff;
    height: 15.4rem;
}

#draugiem_logo,
#rtg_logo,
#lokalise_logo {
    width: 145px;
    cursor: pointer;
}

#madara_logo {
    width: 122px;
    cursor: pointer;
}

#dpd_logo {
    width: 103px;
    cursor: pointer;
}

#tilde_logo {
    width: 82px;
    cursor: pointer;
}

.vairak a {
    text-decoration: none;
    color: #4257A6;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 2rem;
    font-family: Roboto;
    font-size: 29px;
    font-weight: 500;
    align-items: center;
}

.vairak_btn {
    padding: 0.2rem 0 0 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.vairak_btn img {
    width: 70%;
}

.section_questions {
    background-color: #ffffff;
    padding: 0.01rem 0;
}

.questions-all {
    margin-top: 1rem;
}

.questions-all-more h6 {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0.6rem 0;
    color: #1E1F24;
}

.questions-all p {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 1.5rem;
    margin: 1.5rem 0 2rem 0;
}

.questions-all-more div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.questions-all-more a {
    text-decoration: none;
    color: #1E1F24;
}

.questions-all-more button {
    border-style: none;
    background-color: transparent;
    padding-block: 0;
    padding-inline: 0;
    cursor: pointer;
}

.questions-all-more:hover {
    border: 1px dashed #FFCC00;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
}

.yellow-bottom {
    height: 0.25rem;
    background-color: #ffcc00;
}

footer {
    background-color: #4257A6;
    font-family: 'Roboto';
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about img {
    width: 6.25rem;
}

.social {
    margin-top: 2rem;
    gap: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
}

.contacts p:first-child {
    font-size: 18px;
}

.copy {
    text-align: center;
    font-size: 14px;
    color: #fff
}

hr {
    border-color: #f4f4f4;
    max-width: 1280px;
}

@media (min-width: 1280px) {

    .header-content {
        margin: 2rem auto;
        padding: 0 5.75rem;
    }

    .section-content {
        margin: 5.5rem auto;
        padding: 0 5.75rem;
    }

    .section-content-partners {
        margin: 4rem auto;
        padding: 0 5.75rem;
    }

    .section-content-why {
        margin: 0 auto;
        padding: 0 5.75rem;
    }

    .section-content-doned {
        margin: 4.25rem auto 4.5rem auto;
        padding: 0 2.5rem;
    }

    .section_carousel {
        height: 33.5rem;
        padding: 0 5.75rem;
    }

    .h1_p_wrapper {
        padding: 2.5rem 0 0 0;
    }

    .thMeter_raised p {
        font-size: 16px;
        font-weight: 600;
        margin: 0.5rem 0;
    }

    .why_donate-p p {
        padding-left: 1.4rem;
        margin: 0.9rem 0;
    }

    footer {
        padding: 5rem 5.75rem 0 5.75rem;
    }

    .contacts {
        width: 65%;
    }

    .copy p {
        margin: 0;
        padding: 0.5rem 0 2.5rem 0;
    }

}

@media screen and (max-width: 1279.9px) {
    /*.panel {
        max-width: 700px;
    }*/

    .header-content {
        margin: 2rem auto;
        padding: 0 3rem 0 3rem;
    }

    #logo {
        margin: 0;
    }

    .carousel {
        height: 33.5rem;
    }

    .support-span {
        left: 11rem;
    }

    .h1_p_wrapper {
        padding: 2.5rem 0 0 3rem;
    }

    .why_donate p {
        font-size: 23px;
    }

    .why_donate-p p {
        width: 78%;
    }

    #border-solid_top {
        width: 80%;
    }

    #border-solid_bottom {
        width: 50%;
    }

    .why_donate h4 {
        font-size: 30px;
    }

    .thMeter_raised p {
        font-size: 16px;
        font-weight: 600;
        margin: 0.5rem 0 1rem 0;
    }

    .btn_ziedot {
        margin-top: 0.5rem;
    }

    .btn_ziedot-proj {
        width: 12rem;
    }

    .section_support {
        padding: 3rem 3rem 3rem 3rem;
    }

    .support_wrapper h4 {
        width: 90%;
        font-size: 30px;
        line-height: 50px;
    }

    .support_logo {
        top: 12rem;
        left: 26.5rem;
        gap: 2rem;
    }

    .support_logo div {
        width: 14rem;
        height: 7rem;
    }

    .support_follow {
        margin: 5rem 0 4rem 0;
    }

    .support_follow h4 {
        padding-left: 2rem;
        width: 95%;
    }

    .section-content-doned {
        padding: 3rem 2rem;
    }

    .doned-info {
        background: linear-gradient(65deg, #FFDB4D 57%, transparent 94%);
    }

    .doned-h h5 {
        font-size: 90px;
    }

    .doned-h h3 {
        font-size: 33px;
        width: 90%;
    }

    .btn_ziedot-doned {
        margin: 4rem 3.25rem 0 3.25rem;
    }

    .section_why-how {
        height: 33rem;
    }

    .why_donate {
        padding: 3rem 3rem 0 3rem;
        margin: 0;
    }

    .why_donate h2 {
        font-size: 30px;
    }

    .why_donate-p {
        width: 80%;
        margin-left: 3rem;
    }

    .why_donate-p p {
        padding-left: 1.4rem;
        margin: 0.7rem 0;
        font-size: 23px;
    }

    .support_follow p {
        padding-left: 1.4rem;
        margin: 0.7rem 0;
    }

    .section_partners {
        padding: 4rem 3rem 6rem 3rem;
    }

    .vairak a {
        padding-top: 1rem;
        font-size: 24px;
    }

    .section_questions {
        padding: 4rem 3rem 3rem 3rem;
    }

    footer {
        padding: 2rem 3rem 2rem 3rem;
    }
}

@media screen and (max-width: 1179px) {

    .support-what img {
        width: 63rem;
    }

    .human-support {
        font-size: 14px;
    }

    .medicin-support {
        width: 11rem;
        top: 10rem;
        font-size: 14px;
        left: 51rem;
    }

    .transp-support {
        top: 25rem;
        width: 13rem;
        font-size: 14px;
    }

    .support_logo {
        left: 24.5rem;
    }

}

@media screen and (max-width: 1079px) {

    .support-what img {
        width: 55rem;
    }

    .human-support {
        top: 2rem;
    }

    .medicin-support {
        top: 8rem;
        left: 44rem;
    }

    .transp-support {
        top: 21.5rem;
    }

    .partneri {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    .support_logo {
        top: 9rem;
        left: 20.5rem;
        gap: 1rem;
    }

    .questions-all-more h6 {
        font-size: 22px;
    }

    .questions-all p {
        font-size: 16px;
        line-height: 22px;
    }

    .questions-all-more svg {
        width: 3rem;
    }


}

@media screen and (max-width: 969px) {

    .support-what img {
        width: 50rem;
    }

    .human-support {
        top: 1.5rem;
    }

    .medicin-support {
        top: 6rem;
        left: 40rem;
    }

    .transp-support {
        top: 19rem;
    }
}

@media screen and (max-width: 895px) {

    .support-what img {
        width: 42rem;
        margin-top: 2.5rem;
    }

    .human-support {
        top: 0rem;
        width: 12rem;
    }

    .medicin-support {
        top: 4.3rem;
        left: 33.5rem;
    }

    .transp-support {
        top: 14.7rem;
        width: 11rem;
    }

    .support_logo {
        top: 8rem;
        left: 15.5rem;
        gap: 0.5rem;
    }

    .support_logo div {
        width: 11rem;
        height: 5rem;
    }

}

@media screen and (max-width: 797px) {

    .support-what img {
        width: 35rem;
        margin-top: 3rem;
    }

    .medicin-support {
        top: 2.8rem;
        left: 28rem;
    }

    .transp-support {
        top: 12.2rem;
    }

    .support_logo {
        top: 7rem;
        left: 11.8rem;
    }
}

@media screen and (min-width: 700.1px) {
    #logo-mob {
        display: none;
    }

    #support-from-mob {
        display: none;
    }

    .carousel_img-support_mob {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    /*.panel {
        max-width: 480px;
    }*/

    .header-content {
        padding: 1rem;
        margin: 0;
    }

    /*#logo {
        display: none;
    }*/

    #support-from {
        display: none;
    }

    /*#logo-mob {
        width: 3.125rem;
    }*/

    #logo-mob {
        display: none;
    }

    .carousel {
        height: 32.5rem;
    }

    .carousel_img-support {
        display: none
    }

    .carousel_img-support_mob {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .donate {
        width: auto;
        height: 100%;
        right: 0;
        left: 0;
        background: linear-gradient(113deg, #ffffff 50%, transparent 82%);
    }

    .h1_p_wrapper {
        padding: 0 1.25rem;
        margin-top: 2.5rem;
    }

    .support-span {
        left: 9rem;
    }

    .donate h1 {
        font-size: 34px;
        line-height: 43px;
    }

    .support-p {
        font-size: 20px;
        width: 19rem;
        margin: 1.2rem 0 0 0;
    }

    .thMeter_raised p {
        margin-block-start: 0.3rem;
        margin-block-end: 0.25rem;
    }

    .btn_ziedot {
        margin-top: 1.5rem;
    }

    .section_why-how {
        height: auto;
    }

    .why_donate {
        padding: 2rem 1.5rem 0 1.5rem;
        width: auto;
    }

    .why_donate-p {
        padding: 0 1.5rem 0 0;
        margin: 0 0 2rem 1.5rem;
        width: auto;
    }

    .why_donate-p p {
        font-size: 16px;
        line-height: 25px;
        padding-left: 0.8rem;
    }

    .why_donate h1 {
        font-size: 26px;
    }

    .why_donate h4 {
        font-size: 22px;
        line-height: 28px;
        margin: 1rem 0;
    }

    #border-solid_top {
        width: 100%;
    }

    .section_support .section-content {
        overflow: hidden;
    }

    .section_support {
        padding: 2rem 1.5rem 2rem 1.5rem;
    }

    .section_support h1 {
        font-size: 26px;
        line-height: 42px;
    }

    .support_wrapper h4 {
        width: 100%;
        font-size: 16px;
        line-height: 25px;
        margin: 1.5rem 0 3rem 0;
    }

    .support-what {
        align-items: flex-start;
    }

    #support-from-mob {
        width: 36rem;
        margin-top: 2.5rem;
    }

    .human-support {
        width: 8rem;
        font-size: 10px;
        line-height: 14px;
        top: 0;
    }

    .medicin-support {
        top: 9rem;
        font-size: 10px;
        line-height: 14px;
        width: 7rem;
        left: 25rem;
    }

    .transp-support {
        top: 21.5rem;
        width: 7rem;
        font-size: 10px;
        line-height: 14px;
    }

    .support_logo {
        top: 7.5rem;
        left: 140px;
    }

    .support_logo div {
        width: 9rem;
        height: 3.5rem;
    }

    .support_follow p {
        font-size: 16px;
        line-height: 25px;
        width: 94%;
    }

    .wrapper_doned {
        height: 26.5rem;
    }

    .section-content-doned {
        padding: 2rem 1.5rem;
    }

    .doned-h {
        padding: 2rem 1rem 0 1rem;
        gap: 0.5rem;
    }

    .section_doned h1 {
        font-size: 36px;
        line-height: 42px;
        width: 80%;
    }

    .doned-h h5 {
        font-size: 50px;
        margin: 0.5rem 0;
    }

    .doned-h h3 {
        font-size: 18px;
        line-height: 22px;
    }

    .thMeter-doned {
        margin: 1.5rem 1rem 1rem 1rem;
    }

    .btn_ziedot-doned {
        margin: 2.5rem 1rem;
    }

    .section_partners {
        padding: 1.6rem 1.5rem;
    }

    .section_partners h1 {
        font-size: 26px;
    }

    .partneri {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 5rem 0;
        gap: 5rem;
    }

    .vairak a {
        font-size: 22px;
    }

    .section_questions {
        padding: 2.5rem 1.5rem;
    }

    .section_questions h1 {
        font-size: 26px;
        line-height: 42px;
    }

    .questions-all {
        padding-left: 0;
    }

    .questions-all-more div {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
    }

    .questions-all-more h6 {
        grid-column: span 15;
    }

    .btn_ziedot-proj {
        width: 14rem;
    }

    footer {
        padding: 2rem 1.5rem 1rem 1.5rem;
    }

    .contacts {
        margin-top: 2rem;
        font-size: 14px;
        line-height: 30px;
    }

    .contacts p:not(:first-child) {
        margin-top: 2rem;
    }

    #copy p {
        font-size: 14px;
    }

}

@media screen and (max-width: 580px) {

    #support-from-mob {
        width: 29rem;
    }

    .human-support {
        width: 8rem;
        font-size: 10px;
        line-height: 14px;
        top: 0;
    }

    .medicin-support {
        top: 6.5rem;
        left: 21rem;
    }

    .transp-support {
        top: 17rem;
        font-size: 10px;
        line-height: 14px;
    }
}

@media screen and (max-width: 520px) {

    #logo {
        width: 46%;
        height: auto;
    }

    .donate {
        background: linear-gradient(113deg, #ffffff 52%, transparent 85%);
    }

    .thMeter_raised {
        width: auto;
    }

    .thMeter_raised p:not(:first-child) {
        color: #ffffff;
    }

    #ziedot {
        width: auto;
    }

    .section_doned h1 {
        width: 88%;
    }

    .doned-h h5 {
        font-size: 49px;
        letter-spacing: -1.5px;
    }

    .thMeter-doned {
        width: auto;
    }

    #ziedot-doned {
        width: auto;
    }

    #support-from-mob {
        width: 25rem;
        margin-top: 4rem;
    }

    .human-support {
        width: 6rem;
    }

    .medicin-support {
        top: 6rem;
        left: 18rem;
    }

    .transp-support {
        top: 16rem;
    }

    .support_logo {
        top: 6rem;
        left: 80px;
    }

    .support_logo div {
        width: 8rem;
        height: 3.2rem;
    }
}


@media screen and (max-width: 484px) {

    #support-from-mob {
        width: 20rem;
    }

    .medicin-support {
        top: 4rem;
        left: 15rem;
    }

    .transp-support {
        top: 12.8rem;
    }
}

@media screen and (max-width: 435px) {

    #support-from-mob {
        width: 19rem;
    }

    .medicin-support {
        top: 2rem;
        left: 13.8rem;
        width: 5rem;
    }

    .transp-support {
        top: 12.2rem;
    }

    .support_logo div {
        width: 8rem;
        height: 2.8rem;
    }
}