#donate_wrapper {
    background-color: #f4f4f4;
}

.donate_section {
    font-family: 'Roboto';
}

.donate-centred {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.back-toProject {
    width: 54rem;
    padding: 2rem 0 1rem 0;
}

.back-toProject a {
    text-decoration: none;
    color: #4257A6;
    font-size: 16px;
    font-weight: 600;
    margin-block-start: 0;
}

.back-btn {
    margin-top: -15px;
    border: 0;
    background: transparent;
    color: #4257A6;
    cursor: pointer;
}

.donate_page {
    width: 40.5rem;
    background-color: #ffffff;
    padding: 2rem 6.5rem 4rem 6.5rem;
    color: #1E1F24;
}

h1 {
    color: #1E1F24;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 2rem 0 0.5rem 0;
    font-family: 'Poppins';
}

.donation_type div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info-regular {
    display: flex;
    gap: 0.6rem;
}

.info-regular img {
    width: 18px;
    height: 18px;
    margin-block-start: 1.2rem;
}

.donation_type p {
    font-size: 15px;
    margin-block-start: 1.1rem;
}

.donation_type span {
    color: #4257A6;
    font-weight: 600;
}

.one-time,
.individual {
    color: #1E1F24;
    font-size: 14px;
    padding: 0.6rem 0;
    width: 12rem;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 16px 0 0 16px;
    font-weight: 400;
    margin-block-end: 0;
    cursor: pointer;
}

.legal,
.regular {
    color: #1E1F24;
    font-size: 14px;
    padding: 0.6rem 0;
    width: 12rem;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 0 16px 16px 0;
    font-weight: 400;
    margin-block-end: 0;
    cursor: pointer;
}

.legal:hover,
.regular:hover,
.one-time:hover,
.individual:hover {
    background-color: #ffcc00;
    font-weight: 600;
}

.enter-donation {
    background-color: #f4f4f4;
    color: #615c5c;
    font-size: 18px;
    padding: 0.8rem 0;
    width: 12rem;
    text-align: center;
    border: none;
    font-weight: 600;
    margin-block-start: 0;
}

.payment_logo {
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

#visa_logo,
#google-pay_logo,
#apple-pay_logo,
#master-card_logo {
    cursor: pointer;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.inputs-details {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.contact-details input {
    border-radius: 5px;
    padding: 0.7rem 0.7rem;
    width: 100%;
    border: solid 1px #1E1F24;
    font-size: 14px;
}

.buttonContinue {
    margin-top: 2.5rem;
    width: 100%;
    background-color: #4257A6;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    height: 2.5rem;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkbox_display {
    display: flex;
    margin-bottom: 2.5rem;
    gap: 0.6rem;
}

.checkbox_display img {
    width: 18px;
    height: 18px;
}

#display-no {
    width: 1.5rem;
    margin: 0;
}

.yellow-bottom {
    height: 0.25rem;
    background-color: #ffcc00;
}

@media (min-width: 1280px) {

    .section-content {
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (max-width: 1279px) {

    .back-toProject {
        width: 84%;
    }

    .donate_page {
        width: 26rem;
    }

    .inputs-details {
        gap: 0.5rem;
    }
}

@media screen and (max-width: 700px) {

    .back-toProject {
        width: 87%;
    }

    .inputs-details {
        margin-bottom: 2rem;
        flex-direction: column;
    }

    .placehold_button {
        padding-right: 2rem;
    }

    .one-time,
    .regular,
    .individual,
    .legal {
        width: 11rem;
    }

    .donate_page {
        width: 19rem;
        padding: 2rem 1rem 4rem 1rem;
    }
}