.panel-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section_left {
    width: 50%;
    background-color: #4257A6;
}

.section_right {
    width: 50%;
    background-color: #ffffff;
}

.back-btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.back-btn img {
    width: 45%;
    padding-top: 0.1rem;
}